<div class="container">
  <div class="wrapper col-md-8 col-md-offset-2 col-sm-10">
    <p id="notice"><%= notice %></p>
    <p>
      <strong>タイトル:</strong>
      <%= @poem.title %>
    </p>
    <p>
      <strong>内容:</strong>
      <%= @poem.content %>
    </p>
    <%= link_to '一覧へ', poems_path , class: 'btn btn-primary' %>
    <%= link_to '戻る', root_path , class: 'btn btn-primary' %>
  </div>
</div>